.span-24-empty-line {float:left; width:810px; margin-right:0; min-height:10px;}
.span-30-empty-line {float:left; width:795px; margin-right:0; height:5px;}

.scroller {
	/*position: relative;
	float: right;*/
}
