.ui-datepicker-trigger {
	margin-left: 3px;
	margin-top: -24px;
	margin-bottom: auto;
}


.tab-pane {
	position: relative;
	/*border: 1px solid green;*/
	min-width: auto;
	overflow: auto;
} 

.data-entry-narrow {
	position: relative;	
	min-width: auto;
	overflow: auto;
}

#patientHistoryForm {
	position: relative;
	/*border: 1px dashed pink;*/
	min-width: auto;
	min-height: auto;
	overflow: auto;
}

.containPanel {
	position: relative;
	/*border: 1px dashed #0fcf0a;*/
	min-width: auto;
	min-height: auto;
	overflow: auto;
}

.btn-navbar {
	display:none;
}

/* Experimental pls remove */
#patientHistory {
	position: relative;
	/*border: 1px solid #00f0ff;*/
	min-width: auto;
	min-height: auto;
	overflow: auto;
}
.ui-accordion-content {
 	overflow: auto;
 	position: relative;
 	/*background-color: #74c7ef;*/
 	min-width: auto;	
}

.answer-block, .answer-block-long {
	/*border: 1px dashed  blue;*/
	/*min-width: 35%;*/
	min-height: 35px;
}
.answer-block-long {
	min-width: 65%;
}
div.question {
	min-width: 65%;
	min-height: 35px;
}
div.sidebar {
	min-width:260px;
}
div.answer {
	*zoom: 1; 
	*display: inline;
	/*border: 1px dashed #57f0c4;	*/	
	clear: none;
}